.home{
  .main_img {
    background:#000 image-url('kick.jpg') no-repeat center center;
    height: 600px;
    @include backgroundSize(cover);
    padding-top:20em;

    h1 {
      background-color:rgba(0, 0, 0, 0.5);
      @extend .fontfamily-heavy;
      font-size:$fontsize-bigger; text-transform:uppercase;
      color: white;
      margin:0;
      padding:10px 20px;
      text-align: center;
    }
  }

  ul {
    h2, h3 { text-align: center; }
    p { margin-top: 1.5em; }
  }
  .second_section {
    @include block-grid(
      $per-row: 2,
      $spacing: 5em,
      $base-style: true
    );
    margin-top: 80px;
  }
  section.steps_to_success {
    background-color: $dark-grey;
    h1, h2, h3, p, i { color: white; }
    i { font-size: 80px; }
    p { margin-top: 10px; }
    .heading { margin-top: 15px; }
    padding: 80px 0px 60px 0px;
    text-align: center;
    ul.critical_components {
      @include block-grid(
      $per-row: 3,
      $spacing: 3em,
      $base-style: true
      );
      margin-top:60px;
    }
    ul.critical_components_form {
      @include block-grid(
      $per-row: 3,
      $spacing: 3em,
      $base-style: true
      );
      margin-top: -50px;
      input, span {
        font-size: 1.5em;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
      select {
        height: 50px;
        font-size: 1.3em;
      }
      .row {
        display: inline-block;
      }
    }
  }
  section.fight_with_us {
    background-color: white;
    text-align: center;
    ul {
      @include block-grid(
      $per-row: 1,
      $spacing: 5em,
      $base-style: true
      );
      margin-top: 50px;
    }
    label { font-size: 1.5em; font-weight: bold; text-align: left; }
  }
  .home_page_sign_up_btn {
    background-color: $dark-red;
    &:hover { background-color: darken($dark-red, 15)}
  }
}
