$grid-small-three: 1;

.home{
  .main_img {
    background:#000 image-url('kick.jpg') no-repeat center center;
    height: 600px;
    @include backgroundSize(cover);
    padding-top:20em;

    h1 {
      background-color:rgba(0, 0, 0, 0.5);
      @extend .fontfamily-heavy;
      font-size:$fontsize-bigger; text-transform:uppercase;
      color: white;
      margin:0;
      padding:10px 20px;
      text-align: center;
    }
  }

  ul {
    h2, h3 { text-align: center; }
    p { margin-top: 1.5em; }
  }
  section.addiction {
    padding: 100px 15px 60px 15px;
    ul {
      @media #{$small} {
        @include block-grid(1, $block-grid-default-spacing, true);
      }
      @media #{$medium} {
        @include block-grid(2, 2em, true);
      }
      @media #{$large} {
        @include block-grid(2, 3em, true);
      }
    }
  }
  section.steps_to_success {
    background-color: $dark-grey;
    h1, h2, h3, p, i { color: white; }
    i { font-size: 80px; margin-top: 50px; }
    p { margin: 10px 0 0 0; }
    .headline { margin-bottom: 30px; }
    .heading { margin-top: 15px; }
    padding: 80px 15px 60px 15px;
    text-align: center;
    ul.critical_components {
      @media #{$small} {
        @include block-grid(1, $block-grid-default-spacing, true);
      }
      @media #{$medium} {
        @include block-grid(3, 2em, true);
      }
      @media #{$large} {
        @include block-grid(3, 3em, true);
      }
    }
    ul.critical_components_form {
      margin-top: 50px;
      @media #{$small} {
        @include block-grid(1, $block-grid-default-spacing, true);
      }
      @media #{$medium} {
        @include block-grid(3, 2em, true);
      }
      @media #{$large} {
        @include block-grid(3, 3em, true);
      }
      input, span {
        font-size: 1.5em;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 0px;
      }
      select {
        height: 50px;
        font-size: 1.3em;
      }
      .row {
        display: inline-block;
      }
    }
    blockquote {
      margin-top: 2em;
      color: white;
      border-left: none;
      font-size: $fontsize-big;
      @extend .fontfamily-light;
      line-height: 1.7em;
      position: relative;
      // &:before {
      //   position: absolute;
      //   top: -5px;
      //   left: -2px;
      //   padding-right: 5px;
      //   @include fontIcon("\f10d")
      // }
      // &:after {
      //   position: absolute;
      //   top: -5px;
      //   right: -10px;
      //   @include fontIcon("\f10e")
      // }
    }
  }
  section.fight_with_us {
    background-color: white;
    text-align: center;
    ul {
      @include block-grid(
        $per-row: 1,
        $spacing: 5em,
        $base-style: true
      );
      margin-top: 50px;
    }
    label { font-size: 1.5em; font-weight: bold; text-align: left; }
  }
  .home_page_sign_up_btn {
    background-color: $dark-red;
    &:hover { background-color: darken($dark-red, 15)}
  }
}
