<header>
  <div class="row">
    <div class="large-2 small-12 medium-6 columns">
        <%= link_to 'DropQuit', root_path(@root, :anchor => 'top'), class: 'logo' %>
    </div>
    <nav class="nav-bar-right large-8 small-12 columns">
       <ul class="sign-in-btn">
        <li><%= link_to 'Sign In', "#" %></li>
        <li>or</li>
        <li><%= link_to 'Create Account', "#", class: 'button small radius btn-sign-up' %></li>
      </ul>
    </nav>
  </div><!-- End of Row -->
</header>
