body.application
  .row
    max-width: 1600px
  .notification-bar
    text-align: center
    background-color: $dark-red
    color: $white
    a
      color: white
      text-decoration: underline
      &:hover
        color: $light-grey
    padding: 10px
    .link
      display: inline
