.posts-index
  .columns
    padding: 0px
  .row
    margin: 0px
    padding: 0px
  .sidebar
    padding: 1em
    border-right: thin solid $base-grey
    border-left: thin solid $dark-grey
    min-height: 1000px
    background-color: $light-grey
    ul.navigation
      li
        @extend .fontfamily-light
        font-size: $fontsize-base
        margin-top: 0.7em
        &.active
          @extend .fontfamily-medium
          &:after
            @include fontIcon("\f178")
            float: right

    .day
      @extend .fontfamily-light
      font-size: $fontsize-medium
  .main
    border-right: thin solid $dark-grey
    min-height: 1000px
    background-color: $white
    .date-stats
      background-color: #E8F2FF
      .header
        @extend .blue-bold-text
        font-size: $fontsize-medium
        margin-bottom: 1em
        &:before
          @include fontIcon("\f080")
      padding: 1.5em 2em
      border-top: thin solid $light-grey
      border-bottom: thin solid $base-grey
      .stat
        font-size: $fontsize-base
        @extend .fontfamily-heavy
        color: $dark-green
      .stat-text
        margin-top: 0.5em
    .date-area
      text-align: center
      padding: 0.3em 0 0.3em 0
      background-color: $light-grey
      border-bottom: thin solid $base-grey
      .date
        @extend .fontfamily-medium
        font-size: $fontsize-base
    .posts
      .post
        padding: 1em
        border-bottom: thin solid $base-grey
        .avatar-area
          padding-right: 1em
          .avatar
            height: 80px
            @include borderRadius(5px)
            float: right
        .main-post-area
          padding-left: 1em
          .header
            .name
              @extend .fontfamily-medium
              font-size: $fontsize-big
            .type
              text-align: center
              @extend .fontfamily-light
              font-size: $fontsize-big
            .day
              display: inline
              padding: 10px 0px
              font-size: $fontsize-small
              color: $base-grey
              @extend .fontfamily-medium
          .content-area
            padding-top: 0.8em
            line-height: 1.5em
.post-form
  .header-area
    padding-top: 1em
    padding-bottom: 1em
    @extend .fontfamily-light
    font-size: $fontsize-toobig
    text-align: center
  .example-area
    border: thin solid $dark-grey
    @include borderRadius(5px)
    background-color: #E8F2FF
    padding: 1em
    .example-header
      @extend .fontfamily-medium
      font-size: $fontsize-big
    .example-text
      margin-top: 1em
  .form-area
    margin-top: 1.5em
    textarea
      height: 130px

