//COLORS
$base-background:#f9f9fa;
$base-white:#fff;
$base-blue:#478bca;
$dark-blue:#212c65;
$base-green:#00a886;
$dark-green:#16a085;
$light-grey:#ecf0f1;
$base-grey:#bdc3c7;
$medium-grey:#95a5a6;
$grey:#a2a2a2;
$dark-grey:#6a7480;
$light-red:#f77a6d;
$dark-red:#e74c3c;
$light-orange:#fbdcb0;
$base-orange:#fbb450;
$dark-orange:#f89406;
$white: white;

$border-grey:#c3c6c8;
$base-link:$base-blue;
$orange-link:$base-orange;

$background-base:#fafafa;

//SITES COLORS

$green-color: #16a085;
$fairway-color: #CC99FF;
$tee-box-color: #fbb450;
$rough-color: #478bca;
$range-color: #95a5a6;


//TYPOGRAPY

$fontsize-tiny:11px;
$fontsize-small:13px;
$fontsize-base:15px;
$fontsize-medium:18px;
$fontsize-big:24px;
$fontsize-huge:30px;
$fontsize-bigger:35px;
$fontsize-toobig:45px;

$fontfamily-fa: 'FontAwesome';


//BORDER

$b-grey:1px solid $border-grey;
